<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>EZYFEST | Events Schedule</title>

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="" content="">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="stylesheet" href="css/admin/bootstrap.css">
        <link rel="stylesheet" href="css/admin/icons.css">
        <link rel="stylesheet" href="css/admin/main.css">
        <link rel="shortcut icon" href="http://res.cloudinary.com/docentkowalik/image/upload/v1429701357/icon_zifupq.png">

        <script src="js/admin/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
    </head>
 <!-- Body -->
    <body>
       
        <!-- Page Container -->            
                           <% include partials/header %>
 <!-- Left Sidebar -->
            <aside id="page-sidebar" class="collapse navbar-collapse navbar-main-collapse">
                                        <% include partials/miniprofile %>

              <!-- Sidebar Tabs -->
                    <div class="sidebar-tabs-con">
                            <div class="tab-pane active" id="side-tab-menu">
                                <!-- Primary Navigation -->
                                <nav id="primary-nav">
                                    <ul>
                                        <li>
                                            <a href="/admin" class=""><i class="gi gi-display"></i>Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="gi gi-more_windows"></i>Pages</a>
                                            <ul>
                                                <li>
                                                    <a href="/all_pages">All Pages</a>
                                                </li>
                                                <li>
                                                    <a href="/new_page">New Page</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link active"><i class="gi gi-electrical_plug"></i>Plugins</a>
                                            <ul>
                                                <li>
                                                    <a href="/about_us">About Us</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_lineup">Line Up</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_programme">Programme</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_blog">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="/social_links">Social Links</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_sponsors">Sponsors</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_gallery">Gallery</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_carousel">Carousel Header</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_contact_form">Contact Form</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-eye"></i>Appearance</a>
                                            <ul>
                                                 <li>
                                                    <a href="/menu_navigation">Navigation Menu</a>
                                                </li>
                                                 <li>
                                                    <a href="/reading_settings">Home Page Setup</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-users"></i>Users</a>
                                            <ul>
                                                <li>
                                                    <a href="/users_all">All users</a>
                                                </li>
                                                <li>
                                                    <a href="/users_all">New User</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- END Primary Navigation -->
                            </div>
                    </div>
                    <!-- END Sidebar Tabs -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </aside>
            <!-- END Left Sidebar -->


            <!-- Pre Page Content -->
            <div id="pre-page-content">
                <h1>Event Schedule<br></h1>
            </div>
            <!-- END Pre Page Content -->

            <!-- Page Content -->
            <div id="page-content">
                <!-- Breadcrumb -->
                <ul class="breadcrumb breadcrumb-top">
                    <li>
                        <a href="/"><i class="gi gi-display"></i></a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li><a href="">All Pages</a></li>
                </ul>
                <!-- END Breadcrumb -->

                <!-- Dynamic Tables Section -->
                <a href="/programme_day_schedule?dayID=<%= dayID %>">
                <button id="" class="btn btn-sm btn-success">
                    Add New Event
                </button>
                </a>
                <div class="block-section">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Artist</th>
                                <th>Venue/Location</th>
                                <th>Time</th>
                                <th class="text-center">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% dayEvents.forEach( function (dayEvent){ %>
                            <tr>
                                <td><%= dayEvent.event_artist_name %></td>
                                <td><%= dayEvent.event_venue %></td>
                                <td><%= dayEvent.event_time_start %> - <%= dayEvent.event_time_end %></td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="">
                                        <button id="" class="btn btn-sm btn-info">
                                            Edit
                                        </button>
                                        </a>
                                        <a href="#">
                                        <button id="" class="btn btn-sm btn-danger">
                                            Delete
                                        </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <!-- END Dynamic Tables Section -->
            </div>
            <!-- END Page Content -->
        </div>
        <!-- END Page Container -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/admin/vendor/jquery-1.11.1.min.js"></script>
        <script src="js/admin/vendor/bootstrap.min.js"></script>

        <script src="js/admin/accordionMenu.js"></script>
    </body>
</html>