<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>EZYFEST | Social Links</title>

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="" content="">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="stylesheet" href="css/admin/bootstrap.css">

        <link rel="stylesheet" href="css/admin/icons.css">
        <link rel="stylesheet" href="css/admin/main.css">
        <link rel="stylesheet" href="js/admin/vendor/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css">

        <link rel="shortcut icon" href="http://res.cloudinary.com/docentkowalik/image/upload/v1429701357/icon_zifupq.png">

        <script src="js/admin/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>

    


    </head>

    <!-- Body -->
    <body>
       
        <!-- Page Container -->            
                           <% include partials/header %>
 <!-- Left Sidebar -->
            <aside id="page-sidebar" class="collapse navbar-collapse navbar-main-collapse">
                                        <% include partials/miniprofile %>

              <!-- Sidebar Tabs -->
                    <div class="sidebar-tabs-con">
                            <div class="tab-pane active" id="side-tab-menu">
                                <!-- Primary Navigation -->
                                <nav id="primary-nav">
                                    <ul>
                                        <li>
                                            <a href="/admin" class=""><i class="gi gi-display"></i>Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="gi gi-more_windows"></i>Pages</a>
                                            <ul>
                                                <li>
                                                    <a href="/all_pages">All Pages</a>
                                                </li>
                                                <li>
                                                    <a href="/new_page">New Page</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link active"><i class="gi gi-electrical_plug"></i>Plugins</a>
                                            <ul>
                                                <li>
                                                    <a href="/about_us">About Us</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_lineup">Line Up</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_programme">Programme</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_blog">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="/social_links">Social Links</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_sponsors">Sponsors</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_gallery">Gallery</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_carousel">Carousel Header</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_contact_form">Contact Form</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-eye"></i>Appearance</a>
                                            <ul>
                                                 <li>
                                                    <a href="/menu_navigation">Navigation Menu</a>
                                                </li>
                                                 <li>
                                                    <a href="/reading_settings">Home Page Setup</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-users"></i>Users</a>
                                            <ul>
                                                <li>
                                                    <a href="/users_all">All users</a>
                                                </li>
                                                <li>
                                                    <a href="/users_all">New User</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- END Primary Navigation -->
                            </div>
                    </div>
                    <!-- END Sidebar Tabs -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </aside>
            <!-- END Left Sidebar -->

            <!-- Pre Page Content -->
            <div id="pre-page-content">
                <h1><i class="gi gi-more" id="icon-margin"></i>Social Links<br><small>Link <%= site %> with your social media accounts </small></h1>
            </div>
            <!-- END Pre Page Content -->

           <!-- Page Content -->
            <div id="page-content">
                <!-- Breadcrumb -->
                <ul class="breadcrumb breadcrumb-top">
                    <li>
                        <a href="/admin"><i class="gi gi-display"></i></a>
                    </li>
                    <li>
                        <a href="#">Plugins</a>
                    </li>
                    <li><a href="/social_links">Social Links</a></li>
                </ul>
                <!-- END Breadcrumb -->

              <!-- Two Column Form Sponsor -->
                <div class="block block-themed">
                    <!-- Two Column Form Title -->
                    <div class="block-title">
                    <div class="block-options">
                            <a href="javascript:void(0)" class="btn btn-option enable-tooltip" data-toggle="block-collapse" title="Toggle block's content"><i class="fa fa-arrow-up"></i></a>
                    </div>
                        <h4><i class="gi gi-more" id="icon-margin"></i>Social Links</h4>
                    </div>
                    <!-- END Two Column Form Title Sponsor -->

                    <!-- Two Column Form Sponsor -->
                    <div class="block-content">
       <form role="form" action='/processSocialLinks' name='processSocialLinks' id='processSocialLinks' class="form-horizontal" method='POST'>

                            <% if(view == "no") { %>
                            
                            <!-- div.row -->
                            <div class="row">
                                <!-- 1st Column -->
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Facebook</label>
                                        <div class="col-md-10">
                                            <input type="text" name='facebook' id='facebook' class="form-control" placeholder="Please enter Facebook link here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Twitter</label>
                                        <div class="col-md-10">
                                            <input type="text" name='twitter' id='twitter' class="form-control" placeholder="Please enter Twitter link here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Google +</label>
                                        <div class="col-md-10">
                                            <input type="text" name='google' id='google' class="form-control" placeholder="Please enter Google + link here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">YouTube</label>
                                        <div class="col-md-10">
                                            <input type="text" name='youtube' id='youtube' class="form-control" placeholder="Please enter YouTube link here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Instagram</label>
                                        <div class="col-md-10">
                                            <input type="text" name='instagram' id='instagram' class="form-control" placeholder="Please enter Instagram link here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Flickr</label>
                                        <div class="col-md-10">
                                            <input type="text" name='flickr' id='flickr' class="form-control" placeholder="Please enter Flickr link here">
                                        </div>
                                    </div>
                                    <div class="form-group form-actions">
                                        <div class="col-md-10 col-md-offset-2">
                                            <button type="submit" class="btn btn-success"><i class="gi gi-check" id="icon-margin"></i>Save</button>
                                    </div>
                            </div>
                                </div>
                                <!-- END 1st Column -->
                            </div>
                            <!-- END div.row -->
                            <% } else if(view == "yes"){ %>

                            <% socialLinks.forEach( function (link){ %>
                                      <!-- div.row -->
                            <div class="row"> 

                                <!-- 1st Column -->
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Facebook</label>
                                        <div class="col-md-10">
                                            <input type="text" name='facebook' id='facebook' class="form-control" value="<%= link.facebook %>" placeholder="Please enter Facebook link here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Twitter</label>
                                        <div class="col-md-10">
                                            <input type="text" name='twitter' id='twitter' class="form-control" value="<%= link.twitter %>" placeholder="Please enter Twitter link here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Google +</label>
                                        <div class="col-md-10">
                                            <input type="text" name='google' id='google' class="form-control" value="<%= link.google%>" placeholder="Please enter Google + link here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">YouTube</label>
                                        <div class="col-md-10">
                                            <input type="text" name='youtube' id='youtube' class="form-control" value="<%= link.youtube %>" placeholder="Please enter YouTube link here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Instagram</label>
                                        <div class="col-md-10">
                                            <input type="text" name='instagram' id='instagram' class="form-control" value="<%= link.instagram %>" placeholder="Please enter Instagram link here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Flickr</label>
                                        <div class="col-md-10">
                                            <input type="text" name='flickr' id='flickr' class="form-control" value="<%= link.flickr %>" placeholder="Please enter Flickr link here">
                                        </div>
                                    </div>
                                    <div class="form-group form-actions">
                                        <div class="col-md-10 col-md-offset-2">
                                            <button type="submit" class="btn btn-success"><i class="gi gi-check" id="icon-margin"></i>Save</button>
                                    </div>
                            </div>
                                </div>
                                <!-- END 1st Column -->
                            </div>
                            <!-- END div.row -->
                            <% }); %>     
                            <% } %>
                        </form>
                    </div>
                    <!-- END Two Column Form Content -->
                </div>
                <!-- END Two Column Form Title -->                              
            </div>
            <!-- END Page Content -->


         
        </div>
        <!-- END Page Container -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/admin/vendor/jquery-1.11.1.min.js"></script>
        <script src="js/admin/vendor/bootstrap.min.js"></script>
        <script src="js/admin/vendor/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>

        <script src="js/admin/accordionMenu.js"></script>    
        
        <script type="text/javascript">
    // Collapsible block
        $('[data-toggle="block-collapse"]').click(function(){
            if ( $(this).hasClass('active') ) {
                $(this).parents('.block').find('.block-content').slideDown(250);
                $(this).removeClass('active').html('<i class="fa fa-arrow-up"></i>');
            }
            else
            {
                $(this).parents('.block').find('.block-content').slideUp(250);
                $(this).addClass('active').html('<i class="fa fa-arrow-down"></i>');
            }
        });
        </script>
    </body>
</html>