<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>EZYFEST | Users</title>

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="" content="">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="stylesheet" href="css/admin/bootstrap.css">
        <link rel="stylesheet" href="css/admin/icons.css">
        <link rel="stylesheet" href="css/admin/main.css">
        <link rel="shortcut icon" href="http://res.cloudinary.com/docentkowalik/image/upload/v1429701357/icon_zifupq.png">

        <script src="js/admin/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
    </head>

    <!-- Body -->
    <body>
       
        <!-- Page Container -->            
                           <% include partials/header %>
 <!-- Left Sidebar -->
            <aside id="page-sidebar" class="collapse navbar-collapse navbar-main-collapse">
                                        <% include partials/miniprofile %>

              <!-- Sidebar Tabs -->
                    <div class="sidebar-tabs-con">
                            <div class="tab-pane active" id="side-tab-menu">
                                <!-- Primary Navigation -->
                                <nav id="primary-nav">
                                    <ul>
                                        <li>
                                            <a href="/admin" class=""><i class="gi gi-display"></i>Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="gi gi-more_windows"></i>Pages</a>
                                            <ul>
                                                <li>
                                                    <a href="/all_pages">All Pages</a>
                                                </li>
                                                <li>
                                                    <a href="/new_page">New Page</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="gi gi-electrical_plug"></i>Plugins</a>
                                            <ul>
                                                <li>
                                                    <a href="/about_us">About Us</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_lineup">Line Up</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_programme">Programme</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_blog">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="/social_links">Social Links</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_sponsors">Sponsors</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_gallery">Gallery</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_carousel">Carousel Header</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_contact_form">Contact Form</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-eye"></i>Appearance</a>
                                            <ul>
                                                 <li>
                                                    <a href="/menu_navigation">Navigation Menu</a>
                                                </li>
                                                 <li>
                                                    <a href="/reading_settings">Home Page Setup</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link active"><i class="fa fa-users"></i>Users</a>
                                            <ul>
                                                <li>
                                                    <a href="/users_all">All users</a>
                                                </li>
                                                <li>
                                                    <a href="/users_all">New User</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- END Primary Navigation -->
                            </div>
                    </div>
                    <!-- END Sidebar Tabs -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </aside>
            <!-- END Left Sidebar -->


            <!-- Pre Page Content -->
            <div id="pre-page-content">
                <h1><i class="fa fa-users" id="icon-margin"></i>Users<br><small></small></h1>
            </div>
            <!-- END Pre Page Content -->

            <!-- Page Content -->
            <div id="page-content">
                <!-- Breadcrumb -->
                <ul class="breadcrumb breadcrumb-top">
                    <li>
                        <a href="/admin"><i class="gi gi-display"></i></a>
                    </li>
                    <li>
                        <a href="#">Users</a>
                    </li>
                    <li>
                        <a href="/users_all">All Users</a>
                    </li>
                </ul>
                <!-- END Breadcrumb -->

            <!-- Dynamic Tables Section -->
             <a href="/users_add">
                <button id="" class="btn btn-sm btn-success">
                    <i class="gi gi-plus" id="icon-margin"></i>Add New User
                </button>
            </a>
                <div class="block-section">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><i class="gi gi-user" id="icon-margin"></i>Username</th>
                                <th><i class="gi gi-nameplate" id="icon-margin"></i>Name</th>
                                <th><i class="gi gi-envelope" id="icon-margin"></i>Email</th>
                                <th><i class="gi gi-old_man" id="icon-margin"></i>Role</th>
                                <th class="text-center"><i class="fa fa-cogs" id="icon-margin"></i>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% admins.forEach( function (admin){ %>
                            <tr>
                                <td><%= admin.user_username %></td>
                                <td><%= admin.user_first_name %> <%= admin.user_last_name %></td>
                                <td><%= admin.user_email %></td>
                                <td><%= admin.user_role %></td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="/users_edit?admin_id=<%= admin._id %>">
                                        <button id="" class="btn btn-sm btn-info">
                                            <i class="gi gi-edit" id="icon-margin"></i>Edit
                                        </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <!-- END Dynamic Tables Section -->

                 <div class="block-section">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><i class="gi gi-user" id="icon-margin"></i>Username</th>
                                <th><i class="gi gi-nameplate" id="icon-margin"></i>Name</th>
                                <th><i class="gi gi-envelope" id="icon-margin"></i>Email</th>
                                <th><i class="gi gi-old_man" id="icon-margin"></i>Role</th>
                                <th class="text-center"><i class="fa fa-cogs" id="icon-margin"></i>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% editiors.forEach( function (sub_admin){ %>
                            <tr>
                                <td><%= sub_admin.sub_user_username %></td>
                                <td><%= sub_admin.sub_user_firstname %> <%= sub_admin.sub_user_lastname %></td>
                                <td><%= sub_admin.sub_user_email %></td>
                                <td><%= sub_admin.sub_user_role %></td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="/sub_edit?sub_admin_id=<%= sub_admin._id %>">
                                        <button id="" class="btn btn-sm btn-info">
                                            <i class="gi gi-edit" id="icon-margin"></i>Edit
                                        </button>
                                        </a>
                                        <a href="/processDeleteSubUser?adminID=<%= sub_admin._id %>">
                                        <button id="" class="btn btn-sm btn-danger">
                                            <i class="gi gi-bin" id="icon-margin"></i>Delete
                                        </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <!-- END Dynamic Tables Section -->
            </div>
            <!-- END Page Content -->
        </div>
        <!-- END Page Container -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/admin/vendor/jquery-1.11.1.min.js"></script>
        <script src="js/admin/vendor/bootstrap.min.js"></script>

        <script src="js/admin/accordionMenu.js"></script>
    </body>
</html>