<section id="title" class="turquoise">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Line Up</h1>
                                       
                </div>
                <div class="col-sm-6">
                   
                </div>
            </div>
        </div>
    </section><!--/#title-->


    <section id="line-up" class="container">
           
        <div class="gap"></div>

        <div id="line_up" class="row">
            <% for(var i=0; i<lineUpOBJ.length; i++) {%>


                <div class="col-md-3 col-xs-6">
                    <div class="center">

                         <div class="scene3D">
                            <div class="flip">
                                <div>
                                    <p>
                                         <h5 class="artistName"><%= lineUpOBJ[i].lineup_artist_name %><br/>
                                        <small class="designation muted venue"><strong>@</strong><%= lineUpOBJ[i].lineup_venue %></small></h5>
                        
                                <%if (lineUpOBJ[i].lineup_facebook_link != "") { %>
                                <a class="btn btn-social btn-facebook" href="https://<%= lineUpOBJ[i].lineup_facebook_link %>"><i class="fa fa-twitter"></i></a> 
                                <% } %>
                                <%if (lineUpOBJ[i].lineup_twitter_link != "") { %>
                                <a class="btn btn-social btn-twitter" href="https://<%= lineUpOBJ[i].lineup_twitter_link %>"><i class="fa fa-twitter"></i></a> 
                                <% } %>
                                <%if (lineUpOBJ[i].lineup_google_link != "") { %>
                                <a class="btn btn-social btn-google-plus" href="https://<%= lineUpOBJ[i].lineup_google_link %>"><i class="fa fa-google-plus"></i></a> 
                                <% } %>
                                <%if (lineUpOBJ[i].lineup_youtube_link != "") { %>
                                <a class="btn btn-social btn-youtube" href="https://<%= lineUpOBJ[i].lineup_youtube_link %>"><i class="fa fa-youtube"></i></a> 
                                <% } %>
                                
                                    </p>
                                </div>

                                <div>
                                    <%if (lineUpOBJ[i].lineup_artist_img == null) { %>
                                        <p><img class="img-responsive img-thumbnail img-circle" src="http://mymobileuni.net/mu3/pic/ambassador/avatar.gif"></p>
                                    <% } %>
                                    <%if (lineUpOBJ[i].lineup_artist_img != null) { %>
                                        <p><img class="img-responsive img-thumbnail img-circle " src="<%= lineUpOBJ[i].lineup_artist_img %>"></p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            <% } %>

                    
        </div><!--/#line up-->
                <div class="gap"></div>

    </section><!--/#line up-->